{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Edit Task</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <main class="container">
    <div class="card">
      <h2>Edit Task</h2>

      <form method="POST">
        {% csrf_token %}

        {{ form.title }}
        {{ form.description }}
        {{ form.category }}
        {{ form.due_date }}

        <button class="btn">Save</button>
        <a href="{% url 'home' %}" class="btn ghost">Cancel</a>
      </form>

    </div>
  </main>
</body>
</html>
